{% extends 'substitute/base.html'%}
{% block heart %}
{% load static %}
<style type="text/css">
    #aliment-area
    {
        background: url('{{ substitut.url_image}}');
        background-position: center;
    }

</style>
<div class="container-fluid" id="aliment-area">
    <div class="row">
        <div class="col-12"><br/></div>
        <div class="col-12 h1 d-flex justify-content-center" >
            <a href="{{ substitut.url }}" class="col-3 btn btn-lg btn-create-account btn-block text-uppercase bg-butter "> {{ substitut.name }}</a>
        </div>
        <div class="col-12"><br/></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12"> <br/></div>
                <div class="col-12 h2">
                    <img src="{{ substitut.url_image}}">
                    <a class="chocolate-text " style="text-decoration:none" href="{% url 'substitute:aliment' s_id=substitut.id p_id=produit.id u_id=utilisateur_id  %}"></a>
                </div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text">Marque : {{ substitut.brand|upper }}</div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text">Produit : {{ substitut.name }}</div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text">Magasin(s) : {{ substitut.store }}</div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text">Lieu(x) de vente : {{ substitut.purchase_places }}</div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text"> </div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text"> </div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text"> </div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text"> </div>
        <div class="col-6 d-flex justify-content-center underline-text h3">Nutriscore abCde</div>
        <div class="col-6 d-flex justify-content-center underline-text h3">Repères nutritionnels pour 100g</div>
        <div class="col-6 d-flex justify-content-center  h3" style="align-items:center">
            <div class="col-6 d-flex justify-content-center  h3" style="align-items:center">
                <img src="{{ substitut_nutriscore }}" alt="Nutriscore"></div>
            </div>
            <div class="col-6 d-flex justify-content-center h3">
                <div class="col-12"><img src="{{ substitut.image_nutriments }}"></div>
            </div>
            <div class="col-6 d-flex justify-content-center h3"></div>
            <div class="col-6 d-flex justify-content-center underline-text h3">Energie</div>
            <div class="col-6 d-flex justify-content-center h3"></div>
            <div class="col-6 d-flex justify-content-center h3">{{ substitut.energy_kj }} {{ substitut.energy_kj_unit }} <br/>{{ substitut.energy_kcal }} {{ substitut.energy_kcal_unit }}</div>
            <div class="col-12"> <br/></div>
<!---------------------------------------------------------------------------------------------------------------------------------------->
<div class="container-fluid">
    <div class="row" id="gmap">
        <div class="col-12">Les Points de ventes</div>
        <div class="col-12"></div>
        <div class="col-4">
            <div><img src="{% static 'substitute/png/shop.png' %}" height="100" width="100" alt="Stores"></div>
            <div class="col-12 border">
                <br>
                    {% for store in stores %}
                    {{ store }}
                <br>
                    {% endfor %}
                <br>
            </div>
        </div>
        <div class="col-4 border" id="gmap-square">
            <div id="gmap-window"></div>
            <!--<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzIiQpQvRg5ozL9qqrGn3-8mexYTtD2fY&callback=initMap&v=weekly"></script>-->
            <!----------------------------------------------->
            <!--<script defer async src="https://maps.googleapis.com/maps/api/js?key={{ gmap_key }}&callback=initMap&v=weekly"></script>-->
            <!----------------------------------------------->
        </div>
        <div class="col-4">
            <div><img src="{% static 'substitute/png/countries.png' %}" height="100" width="100" alt="Stores"></div>
            <div class="col-12 border">
                <br>
                    {% for pp in pps %}
                    {{ pp }}
                <br>
                    {% endfor %}
                <br>
            </div>
        </div>
    </div>
</div>
<!---------------------------------------------------------------------------------------------------------------------------------------->
            <div class="col-12"> <br/></div>
            <div class="col-12 h3">
                <form method="POST">
                    {% csrf_token %}
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'substitute:save' p_id=produit.id s_id=substitut.id u_id=utilisateur_id %}">
                        <img src="{% static 'substitute/png/blue_save.png' %}" height="200" width="200" alt="Disquette - sauvegarde">
                        <div class="col-12 h3">Sauvegarder</div>
                    </a>
                    {% else %}
                    <a href="{% url 'substitute:login' %}">
                        <img src="{% static 'substitute/png/blue_save.png' %}" height="200" width="200" alt="Disquette - sauvegarde">
                        <div class="col-12 h3">Sauvegarder</div>
                    </a>
                    {% endif %}
                </form>
            </div>
            <form class="col-12 d-flex justify-content-center">
                <a href="{{ substitut.url }}" class="col-3 btn btn-lg btn-create-account btn-block text-uppercase "> Voir les fiches d'OpenFoodFacts !</a>
            </form>
            <div class="col-12"> <br/></div>
    </div>
</div>
<!--<script type="text/javascript" src="{% static 'substitute/js/gmap.js' %}"></script>-->
<!--<script>
//--------------------------------------------------
let map;

function initMap() {
  const map = new google.maps.Map(document.getElementById("gmap-window"), {
    //center: { lat: {{ lat }}, lng: {{ lng }} },
    center: { lat: -28.024, lng: 140.887 },
    zoom: 3,
  });
    marker = new google.maps.Marker(
  {
      //position: { lat: {{ lat }}, lng: {{ lng }} },
      position: { lat: -28.024, lng: 140.887 },
      map: map,
      icon: '{% static 'substitute/png/gmap_count.png' %}'
  });

}
//--------------------------------------------------
</script>-->
<script>
    function initMap() {
  const map = new google.maps.Map(document.getElementById("gmap-window"), {
    zoom: 3,
    center: { lat: -28.024, lng: 140.887 },
  });

  const labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

  const markers = locations.map((location, i) => {
    return new google.maps.Marker({
      position: location,
      label: labels[i % labels.length],
    });
  });

  new MarkerClusterer(map, markers, {
    imagePath:
      "{% static 'substitute/png/m/m' %}",
  });
}
const locations = [
  { lat: -31.56391, lng: 147.154312 },
  { lat: -33.718234, lng: 150.363181 },
  { lat: -33.727111, lng: 150.371124 },
  { lat: -33.848588, lng: 151.209834 },
  { lat: -33.851702, lng: 151.216968 },
  { lat: -34.671264, lng: 150.863657 },
  { lat: -35.304724, lng: 148.662905 },
  { lat: -36.817685, lng: 175.699196 },
  { lat: -36.828611, lng: 175.790222 },
  { lat: -37.75, lng: 145.116667 },
  { lat: -37.759859, lng: 145.128708 },
  { lat: -37.765015, lng: 145.133858 },
  { lat: -37.770104, lng: 145.143299 },
  { lat: -37.7737, lng: 145.145187 },
  { lat: -37.774785, lng: 145.137978 },
  { lat: -37.819616, lng: 144.968119 },
  { lat: -38.330766, lng: 144.695692 },
  { lat: -39.927193, lng: 175.053218 },
  { lat: -41.330162, lng: 174.865694 },
  { lat: -42.734358, lng: 147.439506 },
  { lat: -42.734358, lng: 147.501315 },
  { lat: -42.735258, lng: 147.438 },
  { lat: -43.999792, lng: 170.463352 },
];
</script>
<script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
{% endblock %}