{% extends 'substitute/base.html'%}
{% block heart %}
{% load static %}

<body>
  <div class="container">
    <div class="row">
          <div class="col-12 col-md-12 h1 d-flex justify-content-center font-weight-bold butter-text font-3">Nous sommes navré ! Ce lien d'activation est invalide.</div>
          <div class="col-12 col-md-12 h1 d-flex justify-content-center font-weight-bold butter-text font-3">Nous vous invitons à recommencer la création de votre compte. </div>
          <div class="col-12 "><a class="navbar-brand d-flex justify-content-center"><img src="{% static 'substitute/jpg/remy-failed.jpg' %}" alt="logo de Remy"></a></div>
          <div class="col-12 col-md-12 mx-auto font-3"><a href="{% url 'substitute:register' %}">CREER MON COMPTE PUR BEURRE</a></div>
      </div>
    </div>
</body>

{% endblock %}